<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <h1>Question {{ question_number + 1 }}</h1>
    <img src="{{ url_for('static', filename='image1.jpg') }}" alt="Question Image">
    <form action="{{ url_for('quiz') }}" method="post">
        <p>{{ question['question'] }}</p>
        {% for option in question['options'] %}
        <input type="radio" name="answer" value="{{ option }}">{{ option }}<br>
        {% endfor %}
        <input type="hidden" name="question_number" value="{{ question_number }}">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
