<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Answers</title>
</head>
<body>
    <h1>Review Answers</h1>
    <ul>
        {% for index, question in enumerated_questions %}
        {% for option in options %}

            <li>
                <img src="{{ url_for('static', filename=category + '/' + question) }}" alt="Question {{ index }}">
               
                    <p>Your Answer: {{ request.args.get('option' ~ index|string) }}</p>
                    <p>Correct Answer: {{ answers[index - 1] }}</p>
            </li>
            {% endfor %}
            {% endfor %}
    </ul>
</body>
</html>
